.line {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 1vmin;
  font-weight: 900;
}

.word {
  transition: opacity 0.2s ease-in-out;
}

.letter {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
  transform: translate(calc(var(--x, 0) * 1%), calc(var(--y, 0) * 1%)) rotate(calc(var(--r, 0) * 1deg)) scale(var(--s, 1));

}

.credits {
  font-size: var(--fsize);
  line-height: calc(var(--fsize) * 1.6);

  font-family: Lexend Deca, sans-serif;
  color: #fe68ff;

  &:hover .word {
    opacity: 0.35;

    &:hover {
      opacity: 1;

      .letter {
        &::before {
          animation: ease 0.3s infinite;
        }
      }

      @for $i from 1 through 20 {
        .letter:nth-child(#{$i}) {
          font-size: var(--fsize);

          &:hover {
            z-index: 2;
            text-shadow: 2px 2px 10px rgba(0, 0, 0);
            font-size: calc(var(--fsize) * 1.2);
          }
        }
      }
    }
  }
}